@model ArtGaleryEF.Models.CreatePictureModel

@{
    ViewData["Title"] = "CreatePicture";
}

<h1>CreatePicture</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("CreatePicture", "Home"))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Picture Title</label>
                @Html.EditorFor(m => m.Title)
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label">Picture Age</label>
                @Html.EditorFor(m => m.Age)
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("All Pictures", "Index")
</div>
